body {
    margin: 0;
    padding: 0;
}

#app {
    height: 100vw;
    height: 100vh;
}

.element {
    position: absolute;
    border: 3px solid red;
    height: 130px;
    width: 130px;
    border-radius: 100%;
}

#app.exploded {
    background-color: red;
}

#app.exploded ~ .element {
    background-color: white;
}

h1 {
    font-size: 70px;
    font-family: sans-serif;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.3;
}

#reset {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
}

.hidden {
    display: none;
}
